.carousel-item {
    background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-position: center;
    background-attachment: fixed;
    height: 24rem;
}

.carousel-item>div {
    background-color: rgba(0,0,0,0.5);
}

.about-snippet {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: block;
}

.card-img-top {
    overflow: hidden;
    display: block;
    height: 256px;
    position: relative;
}

.card-img-top img {
    width: 100%;
}

.card-img-top>i {
    margin: 64px;
    font-size: 7em;
}

.card-img-top>span>i {
    margin: 96px 36px;
    font-size: 4rem;
}

.card-img-top .goto-project {
    position: absolute;
    top: 0;
    width: 100%;
}

.card-img-top .stack {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}